# vim: set sw=2 sts=2 ts=2 noexpandtab :
[include]
	path = /usr/share/delta/themes.gitconfig

#[log]
#    abbrevCommit = true  # short commits
#    graphColors = blue,yellow,cyan,magenta,green,red
[color]
	ui = auto
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
[color "diff"]
	meta = black bold
	frag = magenta
	context = white
	whitespace = yellow reverse
	old = red

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
	features = collared-trogon
#	features = chameleon
  navigate = true  # use n and N to move between diff sections
#  dark = true      # or light = true, or omit for auto-detection
[merge]
    conflictstyle = zdiff3
[user]
	email = leon.strong@oss-group.co.nz
	name = Leon Strong

[push]
default = matching

[init]
	defaultBranch = main

[credential]
	helper = store
[pull]
	rebase = false
